.c-t-a-c-t-a {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-turquoise-default);
}
.c-t-a-container {
  width: 100%;
  height: 379px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.c-t-a-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  margin-top: 10px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.c-t-a-container01 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.c-t-a-logo {
  width: 50%;
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.c-t-a-container02 {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.c-t-a-container03 {
  flex: 0 0 auto;
  width: 60px;
  height: 49px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.c-t-a-image {
  width: 45px;
  height: 46px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.c-t-a-text {
  font-size: 30px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
}
.c-t-a-text01 {
  font-family: Source Sans Pro;
}
.c-t-a-text02 {
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.c-t-a-text03 {
  width: 100%;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Dosis;
  margin-left: 0px;
}
.c-t-a-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.c-t-a-image1 {
  width: 43px;
  height: 40px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
}
.c-t-a-text04 {
  align-self: center;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.c-t-a-container05 {
  flex: 0 0 auto;
  width: 597px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.c-t-a-container06 {
  width: 597px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.c-t-a-links-container {
  width: 775px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.c-t-a-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.c-t-a-container08 {
  width: 498px;
  height: 32px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  margin-left: 7rem;
}
.c-t-a-text06 {
  padding-left: var(--dl-space-space-doubleunit);
}
.c-t-a-text07 {
  padding-left: var(--dl-space-space-doubleunit);
}
.c-t-a-text08 {
  padding-left: var(--dl-space-space-doubleunit);
}
.c-t-a-text09 {
  padding-left: var(--dl-space-space-doubleunit);
}
.c-t-a-text10 {
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: 7rem;
}
.c-t-a-container09 {
  width: 370px;
  height: 58px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.c-t-a-text11 {
  font-family: Source Sans Pro;
}
.c-t-a-container10 {
  flex: 0 0 auto;
  width: 437px;
  display: flex;
  align-items: flex-start;
}
.c-t-a-textinput {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 7rem;
}
.c-t-a-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.c-t-a-social-bar {
  width: 100%;
  display: flex;
  align-self: flex-start;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 48px;
  padding-bottom: 15px;
  justify-content: flex-start;
}
.c-t-a-icon {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.c-t-a-icon02 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.c-t-a-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.c-t-a-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.c-t-a-icon08 {
  width: 16px;
  height: 16px;
}
.c-t-a-text12 {
  align-self: center;
  font-family: Source Sans Pro;
  margin-bottom: var(--dl-space-space-halfunit);
}
.c-t-a-text14 {
  text-align: left;
}
.c-t-a-text16 {
  font-family: Dosis;
  padding-bottom: var(--dl-space-space-unit);
}

@media(max-width: 991px) {
  .c-t-a-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .c-t-a-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .c-t-a-container01 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .c-t-a-logo {
    align-items: center;
  }
  .c-t-a-text03 {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 32px;
  }
  .c-t-a-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .c-t-a-social-bar {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .c-t-a-footer {
    padding: var(--dl-space-space-unit);
  }
  .c-t-a-container01 {
    align-items: center;
    flex-direction: column;
  }
  .c-t-a-text03 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .c-t-a-links-container {
    align-items: center;
    flex-direction: column;
  }
  .c-t-a-container07 {
    margin-top: 24px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .c-t-a-social-bar {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .c-t-a-text12 {
    text-align: center;
  }
}
