{% extends 'base.html.twig' %}

{% block body %}
  <div class="p-bottom-50">
    <center>
      <span style="font-size:10em;">Oops!</span>
      <h1>Une erreur est survenue...</h1>
      <p>Un problème technique est survenu. Merci de l'avoir remarqué. Nous allons réparer tout ça et remettre les choses en ordre en ordre sous peu.<br>
        Vous pouvez revenir à <a href="{{ path('home') }}">la page d'accueil</a>.</p>
      <br>
      <p><b>Détails techniques : </b> Erreur {{status_code}}, {{status_text}}</p>
    </center>
  </div>
{% endblock %}
